* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


body {
    background-color: #c2bebe;
    color: #222;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #c2bebe;
    flex-shrink: 0
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


#forum-selection {
    display: flex;
    justify-content: space-around;
}

.forum-selection-unselected button,
.forum-selection-selected button {
    position: relative;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.forum-selection-selected button {
    font-weight: bold;
}

.forum-selection-unselected button:hover,
.forum-selection-selected button:hover {
    background-color: #939393;
}

.forum-selection-unselected button::before,
.forum-selection-selected button::before {
    content: "";
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: 0;
    height: 2px;
}

.forum-selection-unselected button::before {
    background-color: #c2bebe;
}

.forum-selection-selected button::before {
    background-color: #000;
}

#recipe-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: auto;
    max-width: 600px;
    max-height: 90vh;
    align-self: center;
}

#search-forum {
    display: flex;
    flex-direction: column;
}

#recipe-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    gap: 10px;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px 20px 10px;
    align-self: center;
}

#recipe-input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #222;
}

#recipe-button {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    border: 1px solid #222;
    background-color: #222;
    color: #c2bebe;
    cursor: pointer;
}

#recipe-button:hover {
    background-color: #c2bebe;
    color: #222;
}

/*
When only one recipe is returned
 */
.recipe-one {
    display: flex;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-self: center;
}

/*
When multiple recipes are returned
 */
.recipe-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    align-self: center;
}

.recipe-grid-item {
    background-color: #222;
    position: relative;
    color: #c2bebe;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    gap: 20px;
    max-width: 300px;
    max-height: 100px;
}

.recipe-grid-item img {
    width: 75px;
    height: 75px;
    align-self: center;
    text-align: center;
}

.recipe-grid-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    text-align: center;
}

.recipe-grid-item-content h2 {
    font-size: 16px;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    min-height: 0;
    line-height: 1.2;
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    align-content: center;
}

.view-more {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #222;
    background-color: #222;
    color: #c2bebe;
    cursor: pointer;
    width: 80%;
    align-self: center;
}

.view-more:hover {
    background-color: #c2bebe;
    color: #222;
}

#favorites-forum {
    display: none;
    min-height: 100px;
}

.favorited,
.unfavorited {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    top: -15px;
    right: -5px;
}

.favorited {
    color: gold;
}

.unfavorited {
    color: gray;
}

#invalid {
    display: none;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
}

#recipe-list-favorites {
    display: flex;'
    flex-direction: column;
}

#no-favorites {
    text-align: center;
    align-self: center;
}

/*
Recipe Modal
 */
body.modal-open {
    overflow: hidden;
}

#modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

#modal {
    width: 300px;
    height: 300px;
    background-color: #222;
    color: #c2bebe;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow: auto;
    overflow-x: hidden;
}

#modal-header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    text-align: center;
}

#modal-header img {
    width: 100%;
    height: 100%;
    max-width: 125px;
    max-height: 125px;
    align-self: center;
    object-fit: cover;
    border-radius: 8px;
}

#close-modal {
    position: absolute;
    padding: 10px;
    top: -10px;
    right: 0;
    cursor: pointer;
    font-size: 20px;
    color: #c2bebe;
    border: none;
    background-color: transparent;

}

#close-modal:hover {
    color: #857f7f;
    transition: 0.3s;
    transform: scale(1.1);
}

#modal-header-content h1 {
    font-size: 16px;
}

#modal-header-content a {
    font-size: 14px;
    cursor: pointer;
    text-decoration-color: #c2bebe;
}

#modal-header-content a:hover,
#modal-header-content a p:hover {
    text-decoration-color: #857f7f;
    color: #857f7f;
    transition: 0.3s;
}

#modal-header-content a p {
    color: #c2bebe;
}

#modal-body p {
    line-height: 1.75;
}

#ingredients-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.ingredient-row {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

/*
Media Queries
 */
@media (min-width: 768px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    #modal {
        width: 500px;
        height: 500px;
    }

    #modal-header img {
        max-width: 250px;
        max-height: 250px;
    }

    #modal-header-content {
        align-self: center;
    }

    #modal-header-content h1 {
        font-size: 20px;
    }

    #modal-header-content a {
        font-size: 16px;
        color: #222;
        cursor: pointer;
    }

}